/* Default styles */

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  
  label,
  select,
  input {
    margin-bottom: 0.0rem;
  }
  
  button {
    padding: 0.5rem 1rem;
  }
  
  body {
    background-color: #f7fafc;
  }
  
  /* Shared styles for all screen sizes */
  
  .form-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #004188;
  }
  
  .form-field {
    margin-bottom: 0.75rem;
  }
  
  .form-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #004188;
  }
  
  .form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #cbd5e0;
    border-radius: 0.25rem;
  }
  
  .form-select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #cbd5e0;
    border-radius: 0.25rem;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 2.5a.5.5 0 01.354.146l4.5 4.5a.5.5 0 01-.708.708L10 3.707 6.354 7.354a.5.5 0 11-.708-.708l4.5-4.5a.5.5 0 01.354-.146zm0 15a.5.5 0 01-.354-.854l4.5-4.5a.5.5 0 11.708.708L10 16.293l3.646-3.647a.5.5 0 11.708.708l-4.5 4.5A.498.498 0 0110 17.5z' clip-rule='evenodd' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em;
  }
  
  .form-radio-label {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    cursor: pointer;
  }
  
  .form-radio-label input[type="radio"] {
    margin-right: 0.5rem;
  }
  
  .form-submit-button {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: #004188;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-submit-button:hover {
    background-color: #3182ce;
  }
  
  /* Responsive styles */
  
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .form-container {
    margin: 1rem;
    padding: 1rem;
    background-color: #f1f3f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
    border: 1px solid #ccc;
    justify-content: space-between;
    width: 55%;
  }
  
  .result-container {
    margin: 0rem; /* Add margin to create space between form and result */
    padding: 1rem;
    background-color: #f1f3f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    flex: 1;
    max-width: 900px;
    min-width: 250px;

    /* Allow the result container to expand and fill available space */
  }
  
  .form-content {
    width: 70%; /* Adjust the width as needed */
  }
  
  .form-content {
    width: 70%; /* Adjust the width as needed */
  }
  
  @media (min-width: 768px) {
    /* For tablets and larger screens */
    
    .container {
      flex-direction: row;
      align-items: flex-start;
    }
    
    .form-container {
      width: 50%;
    }
    
    .result-container {
      margin-left: 2rem;
      min-width: 45%;
      max-width: 55%;
      
    }
  }

  
  @media (max-width: 767px) {
    /* For smaller screens */
  
    .container {
      flex-direction: column;
      align-items: center;
      align-items: flex-start;
    }
  
    .form-container,
    .result-container {
      width: 90%;
    }
  
    .form-title {
      font-size: 1.25rem;
    }
  
    .form-input,
    .form-select {
      width: 100%;
    }
  
    .result-container {
      margin-top: 1rem;
      width: 100%;
    }
  
    .form-container {
      margin-bottom: 1rem;
      max-width: 400px;
    }
  
    /* Add the following CSS rule */
    .form-container,
    .result-container {
      display: flex;
      flex-direction: column;
    }
  }
  
        /* emi css */

        .calculator-title {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }

        .form-label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        .form-input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            text-align: right;
        }

        .form-input:focus {
            outline: none;
            border-color: #4c51bf;
            box-shadow: 0 0 0 3px rgba(76, 81, 191, 0.2);
        }

        .form-button {
            display: block;
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            background-color: #004188;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .form-button:hover {
            background-color: #3182ce;
        }
    
        .calculator-container {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #f1f3f4;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            padding: 10px;
        }
        
        .calculator {
            margin-bottom: 0px;
            padding: 10px;
        }
        
        .emi-result {
            margin-top: 20px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .amortization-table-container {
            display: none;
            max-height: 500px;
            max-width: 100%;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            width: fit-content;
            background-color: white;
        }
        
        .amortization-table {
            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            font-size: 14px;
            border: 1px solid #ccc;
        }
        .amortization-table th,
        .amortization-table td {
            padding: 8px;
            border-bottom: 1px solid #ccc;
        }
        
        .amortization-table th {
            font-weight:500;
            text-align: center;
        }
        
        .amortization-table td {
            text-align: center;
            border: 1px solid #ccc;
        }
        
        @media (min-width: 768px) {
            .calculator-container {
                flex-direction: row;
                align-items: flex-start;
            }
        
            .calculator {
                flex: 1;
            }
        
            #amortization-table-container {
                flex: 1;
                max-width: 800px;
                overflow-x: auto;
            }
        }
        .header-image{
         width: 370px;
         height: 70px;

        }